/**/node_modules/
/**/logs


/server/**/HELP.md
/server/**/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
/server/**/.apt_generated
/server/**/.classpath
/server/**/.factorypath
/server/**/.project
/server/**/.settings
/server/**/.springBeans
/server/**/.sts4-cache

### IntelliJ IDEA ###
/server/**/.idea
/server/**/*.iws
/server/**/*.iml
/server/**/*.ipr

### NetBeans ###
/server/**/nbproject/private/
/server/**/nbbuild/
/server/**/dist/
/server/**/nbdist/
/server/**/.nb-gradle/
/server/**/build/

### VS Code ###
/server/**/.vscode/
